@import 'styles/helpers/variables';

.contacts {
  background: url('../../../assets/images/background.png'), linear-gradient(0deg, #7e6af3 1.04%, #6540cd 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 77px;
  padding-bottom: 95px;
  color: $color-white;
}

.container {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 515px;
}

.title {
  margin-bottom: 30px;
}

.description {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 24px;
}

.notice {
  width: 515px;
  height: 90px;
  background: $color-violet;
  border-radius: 10px;
  padding: 21px 25px 21px 85px;
  font-weight: 500;
  line-height: 24px;
  background-image: url('../../../assets/images/icons/notice.svg');
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: 25px;
}

.modal {
  width: 310px;
}

.modalTitle {
  font-size: 25px;
  color: $color-total-black;
  margin-bottom: 20px;
}

.modalDescription {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}
