.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 31px;
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
