@import 'styles/helpers/variables';

.address {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;

  & a {
    color: $color-white;

    &:last-child {
      text-decoration: underline;
    }
  }

  & span {
    font-weight: 400;
    font-size: 18px;
  }
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  & ul {
    margin-left: 20px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgb(255 255 255 / 10%);
  border-radius: 17px;
  margin-right: 20px;

  & svg {
    fill: $color-white;
  }
}

.company,
.license {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.company {
  margin-top: 19px;
}

.license {
  margin-bottom: 39px;
}
