@import 'styles/helpers/variables';

.container {
  width: 744px;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-dark;

  .title {
    font-size: 25px;
    color: $color-total-black;
    margin-bottom: 15px;
    margin-left: 72px;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  .description {
    width: 388px;
  }

  .fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .listTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  .list {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 70px;
  }

  &_confirm {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .content {
      margin-bottom: 22px;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $color-grey-dark;
    }

    & .title {
      display: inline-block;
      text-align: center;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  & a {
    font-weight: 500;
    line-height: 20px;
    color: $color-cobalt;
    flex-shrink: 0;
  }
}

.buttonWarning {
  background: $color-red;
  border-radius: 33px;
  font-size: 16px;
  padding: 12px 24px;

  & svg {
    margin-left: 15px;
    fill: $color-white-50;
  }

  &:hover {
    background: $color-red-hover;
  }

  &:active {
    background: $color-red;
  }
}

.buttonReg {
  background: $color-yellow;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 33px;
    color: $color-black;

    &:hover {
      background: $color-yellow-hover;
    }

    &:active {
      background: $color-yellow;
    }

    &:disabled {
      cursor: auto;
    }
}
