@import 'styles/helpers/variables';

.container {
  display: flex;
  flex-direction: column;
}

.iconLeft {
  & svg {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    height: 20px;
    fill: $color-grey-dark-30;
    color: green;
  }
}

.iconRight {
  & svg {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    fill: $color-red;
  }
}

.wrapper {
  position: relative;
  color: $color-black;

  &:hover {
    & .iconLeft svg {
      fill: $color-cobalt;
      color: violet;
    }
  }
}

.input {
  width: 100%;
  background: $color-grey-default;
  border-radius: 30px;
  border: 2px solid transparent;
  outline: none;
  height: 50px;
  padding: 15px 20px 15px 55px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  //color: $color-grey-dark;
  color: $color-black;

  &_warning {
    border: 1px solid $color-red;
  }

  &:hover {
    background: $color-white;
    border: 2px solid $color-cobalt-80;
    border-radius: 30px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type='number'] {
    appearance: textfield;
  }
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  //color: $color-grey-dark;
  color: $color-black;
  margin-bottom: 15px;
  display: block;
}
