.news {
  position: relative;
  padding-top: 42px;
  padding-bottom: 100px;
  min-height: 1100px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 62.57px;
}

.search {
  position: absolute;
  content: '';
  top: 31.42px;
  right: -128px;
}

.list {
  margin-bottom: 80px;
}
