@import 'styles/helpers/variables';

.form {
  width: 625px;
  height: 516px;
  background: $color-white;
  box-shadow: 0 20px 40px rgb(39 95 158 / 20%);
  border-radius: 10px;
  padding: 40px 37.5px 44px;

  & fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-grey-dark;
}

.textarea {
  width: 548px;
  height: 200px;
  background: $color-grey-default;
  border-radius: 30px;
  outline: none;
  border: 2px solid transparent;
  resize: none;
  padding: 15px 20px;
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;

  &:hover {
    border: 2px solid $color-cobalt-80;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  background: $color-cobalt;
  border-radius: 33px;
  width: 200px;

  &:hover {
    background: $color-cobalt-hover;
  }

  &:active {
    background: $color-cobalt;
  }
}
