@import 'styles/helpers/variables';

.login {
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/images/background.png'), linear-gradient(0deg, #7e6af3 1.04%, #6540cd 100%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 50px;
  background: $color-background-white;
  box-shadow: 0 20px 40px rgb(39 95 158 / 20%);
  border-radius: 10px;
}
