@import 'styles/helpers/variables';

.social {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    & svg {
      fill: $color-black;
    }
  }

  &_contacts {
    width: 110px;

    & .social__item {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background: rgb(255 255 255 / 10%);
      border-radius: 25px;

      & svg {
        fill: $color-white;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &_news {
    width: 360px;

    & .social__title {
      font-weight: 400;
      margin-right: 15px;
    }

    & .social__item {
      width: 34.15px;
      height: 35px;
      margin-right: 19.82px;
      background: rgb(102 78 249 / 10%);
      border-radius: 19px;

      &:last-child {
        margin-right: 0;
      }

      & svg {
        fill: $color-cobalt;
      }
    }
  }

  &_contactsRight {
    width: 45px;
    align-items: flex-start;

    & .social__list {
      flex-direction: column;
    }

    & .social__item {
      width: 45px;
      height: 45px;
      margin-bottom: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    & .social__link {
      & svg {
        fill: $color-white;
        width: 20px;
        height: 20px;
      }
    }
  }

  &_apartments {
    width: 345px;

    & .social__title {
      font-size: 14px;
      line-height: 17px;
      color: $color-grey-dark;
      margin-right: 20px;
    }

    & .social__item {
      width: 35px;
      height: 35px;
      margin-right: 14px;
      background: #f4f5fa;
      border-radius: 25px;

      & svg {
        fill: $color-black;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}