@import 'styles/helpers/variables';

.list {
  margin-bottom: 22px;
}

.item {
  padding: 10px 0;
  border-bottom: 1px solid $color-cobalt-10;

  &:last-child {
    border-bottom: 1px solid transparent;
  }
}

.link {
  color: $color-black;

  &:hover {
    color: $color-cobalt;
    transition: color 0.2s ease;
  }
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 6px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $color-grey-font;
}
