.footer {
  background: $color-background-white;
  box-shadow: 0 -11px 40px rgb(39 95 158 / 5%);

  & .container {
    height: 250px;
    display: grid;
    grid-template-columns: 330px auto;
    grid-template-rows: auto 30px;
    padding-top: 39px;
    padding-bottom: 43px;
  }

  &__info {
    grid-row: 1/3;
    color: $color-grey-font;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 36px;
    margin-top: 10px;
  }

  &__nav {
    display: flex;
    margin-bottom: 10px;
  }

  &__external {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
  }

  &__payment {
    margin-top: -5px;
  }
}
