@import 'styles/helpers/variables';

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 25px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.item {
  background: $color-cobalt-10;
  border-radius: 17px;
  padding: 6px 10px;

  &:hover {
    background: $color-cobalt-20;
  }

  &:active {
    background: $color-cobalt-10;
  }
}

.link {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: $color-cobalt;
}
