.payments {
  width: 339px;
  height: 30px;
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 46px;
    // height: 30px;
    margin-right: 15px;

    &:nth-child(5) {
      margin-right: 19px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;

    &_visa {
      width: 42px;
      height: 13px;
      background-image: url('../../assets/images/visa.png');
      background-size: 42px 13px;
    }

    &_webpay {
      width: 86px;
      height: 16px;
      background-image: url('../../assets/images/webpay.png');
      background-size: 86px 16px;
    }

    &_visa2 {
      width: 38px;
      height: 16px;
      background-image: url('../../assets/images/visa2.png');
      background-size: 38px 16px;
    }

    &_mastercard {
      width: 26px;
      height: 20px;
      background-image: url('../../assets/images/mastercard.png');
      background-size: 26px 20px;
    }

    &_mastercard2 {
      width: 46px;
      height: 16px;
      background-image: url('../../assets/images/mastercard2.png');
      background-size: 46px 16px;
    }

    &_belcard {
      width: 22px;
      height: 30px;
      background-image: url('../../assets/images/belcard.png');
      background-size: 22px 30px;
    }
  }
}
